body{
  background-color: #db8283;
}

input{
  margin: 10px;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td{
  padding: 10px;
}

th{
  text-align: center;
  background-color: lightgray;
}

td{
  text-align: center;
  background-color: white;
}
