body{
  background-color: #db8283;
}

input{
  margin: 10px;
}

table, thead, td, tfoot{
  border: 1px solid black;
  border-collapse: collapse;
}

thead, td, tfoot{
  padding: 10px;
}

thead{
  text-align: center;
  background-color: lightgray;
}


td{
  text-align: center;
  background-color: white;
}

tfoot{
  text-align: center;
  background-color: lightgray;
}
